services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
#    command: python manage.py runserver 0.0.0.0:8000
    environment:
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
##      DATABASE_URL: postgres://kerenes:kerenes@db:5432/kerenes
    volumes:
      - .:/app
      - media:/app/media
      - staticfiles:/app/staticfiles
    depends_on:
      - db

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8000:80"
      - "443:443" 
    volumes:
      - media:/app/media:ro
      - staticfiles:/app/staticfiles:ro
    depends_on: [web]
#   networks: [appnet]

volumes:
  pgdata:
  media:
  staticfiles:
