services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.prod
##      DATABASE_URL: postgres://kerenes:kerenes@db:5432/kerenes
    volumes:
      - media:/app/media
      - staticfiles:/app/staticfiles
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - media:/app/media:ro
      - staticfiles:/app/staticfiles:ro
    depends_on:
      - web

volumes:
  pgdata:
  media:
  staticfiles:
