services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    environment:
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
##      DATABASE_URL: postgres://kerenes:kerenes@db:5432/kerenes
    volumes:
      - .:/app
      - media:/app/media
      - staticfiles:/app/staticfiles
    depends_on:
      - db
    labels:
      - traefik.enable=true

      # Route HTTPS vers ton domaine (remplace par TON domaine)
      - traefik.http.routers.kd.rule=Host(`example.com`) || Host(`www.example.com`)
      - traefik.http.routers.kd.entrypoints=websecure
      - traefik.http.routers.kd.tls=true
      - traefik.http.routers.kd.tls.certresolver=le

      # Service
      - traefik.http.services.kd.loadbalancer.server.port=8000
    restart: unless-stopped


  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443" 
    volumes:
      - media:/app/media:ro
      - staticfiles:/app/staticfiles:ro
    depends_on: [web]
#   networks: [appnet]

  traefik:
    image: traefik:v3.1
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      # Let's Encrypt (HTTP-01)
      - --certificatesresolvers.le.acme.email=contact@kerenes-digital.com
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web

      # (optionnel) redirection HTTP -> HTTPS
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - letsencrypt:/letsencrypt
    restart: unless-stopped

volumes:
  pgdata:
  media:
  staticfiles:
  letsencrypt:
